<div class="hero-unit">
  <h1>Willkommen</h1>
  <p>im Auditorium, der Diskussionsplattform für Studenten <br/>
  der Informationstechnik/Technischen Informatik an der 
  Universität Rostock.</p>
  <p>
    <a class="btn btn-primary btn-large">
      Login
    </a>
  </p>
</div>
