<div class="hero-unit">
  <h1>Willkommen</h1>
  <p>im Auditorium, der Diskussionsplattform für Studenten <br/>
  der Informationstechnik/Technischen Informatik an der 
  Universität Rostock.</p>
  <p>

  <%= link_to "Weiter zu den Diskussionen", posts_path, :class => "btn btn-primary btn-large" %>
  </p>
</div>
