<table class="table table-striped">
  <thead>
    <tr>
      <th>Thema</th>
      <th>Autor</th>
      <th>Aktualisiert</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to shorten_text(post.message), post_path(post) %></td>
        <td><%= post.user.name %></td>
        <td>vor <%= format_time_diff post.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="well">
  <%= link_to 'Neue Diskussion erstellen', new_post_path,
        :class => 'btn btn-primary btn-large' %>
</div>
